<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12  main_header_right align-items-center">
                        <figure>
                            <img src="images/me.jpg" alt="vikas" class="img-fluid" title="Vikas Chaudhary">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1> This is <span class="text_clr">Vikas Chaudhary</span>. A <span class="text_clr"> Software Devloper </span>, Who is trying to learn Nodejs using ExpressJS</h1>
                        <a href="https://www.linkedin.com/in/chaudhary-vikas-singh16/" target="_vikas"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>